/*2015.02.26 门户注册与登录  guolei custom*/

/*========补充style-v1.css修改   2015.04.10========*/
body {
    font-family: "微软雅黑", Verdana, Helvetica;
}
.float-left {
   float: left;
}
.float-right {
   float: right;
}
.red {
   color: red;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	text-shadow: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
text-shadow: 0;
background-image: -webkit-linear-gradient(top, #2ecc71 0%, #1dbb60 100%);
background-image: -o-linear-gradient(top, #2ecc71 0%, #1dbb60 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecc71), to(#1dbb60));
background-image: linear-gradient(to bottom, #2ecc71 0%, #1dbb60 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#0eac51', GradientType=0);
background-repeat: repeat-x;
border-color: #dddddd;
}

.list-group-item {
  padding: 6px 11px;
}

.tab-header {
  position: relative;
  height: 45px;
  z-index: 1001;
}
.navigation-inline-ul {
  position: absolute;
  bottom: -1px;
  margin: 0;
}
.navigation-inline-ul li {
  line-height: 22px;
  margin-right: 0;
}
.navigation-inline-ul > li > a {
  display: block;
  padding: 5px 14px;
  border-radius: 6px 6px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  outline: none;
  text-decoration: none;
}
.navigation-inline-ul li a:hover {
  text-decoration: none;
  background: #fff;
  color: #333;
}
.navigation-inline-ul > li.current > a {
  background: white;
  border-top: 3px solid #2ecc71;
}

/*顶部导航条*/
/* inline-block-ul */
.inline-block-ul {
  /*margin: 5px auto;*/
  padding: 0;
}
.inline-block-ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  
}

/*尾部*/
.footer {
  text-align: center;
}

/*按钮颜色*/
.btn-primary {
  background: #2ecc71;
  border: none;
  text-shadow: none;
  color: white;
  border: 1px solid #1fbd62;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0cb353;
  border-color: #adadad;
}





/*动画*/
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
/*动画结束*/

/*=====================custom================*/ 
.graytab{text-align: center;}
.graytab thead tr{ background-color: #F9F9F9;}


/*主页登录*/
.bg-green { /*padding-top: 0px !important;*/ /* 于20150428 TOP 修改 background-color: #24c267;*/}
/*于20150427 TOP 修改  .container-bg{ background: #FFF url("../img/log-content-bg.png") repeat-x 0 100%;} */
.container-bg{ background-color: #FFF;}

/*注册*/
.color-green, .color-green:hover, .color-green:visited{ color: #24c267; text-decoration: none !important;}


.register-title{ padding-bottom: 20px;}
.register-title .login-a{ color: #24c267; text-decoration: none;}
.register-title span{ margin-top: 10px; margin-bottom: 10px;}
.register-main{
	max-width: 1000px;
	margin: auto;
}

.register-main .step-content ul{ padding: 0; margin: 0; list-style: none outside none; }
.register-main .step-content ul li.active{ background-color: #24c267; color: #fff;}
.register-main .step-content ul li:nth-child(1){ z-index: 10; padding-left: 20px; border-radius: 4px 0 0 4px;}
.register-main .step-content ul li:nth-child(2) {   z-index: 9;}
.register-main .step-content ul li:nth-child(3) {   z-index: 8;}

.register-main .step-content .steps li{ margin-right: 30px; padding: 0 20px; -webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;}

.register-main .step-content ul li{
	position: relative;
	float: left;
	height: 46px;
	margin-right: 30px;
	padding: 0 20px 0 30px;
	margin: 0;
	font-size: 16px;
	line-height: 46px;
	color: #999999;
	cursor: default;
	background: #ededed;
}
.register-main .step-content ul li:first-child:before{ display: none;}
.register-main .step-content ul li.active:before{ background-color:#24c267;}
.register-main .step-content ul li:before {
	content: "";
	width: 30px;
	height: 4px;
	background-color: #dddddd;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: -30px;
}



.role-main{ /*max-width: 760px; margin: auto;*/ text-align: center;}

/*大图角色*/
.role{ 
	  width: 246px;
	  height: 298px;
	  display: inline-block;
	  zoom: 1;
	  *display: inline;
	  vertical-align: middle;
	  background-image: url(../img/regUserBg.png);
  }
.role-teacher{ background-position: -9px -9px;}
.role-student{ background-position: -255px -9px;}
.role-parents{background-position: -501px -9px;}

.role-teacher:hover, .role-teacher:focus{ background-position: -9px -320px; }
.role-student:hover, .role-student:focus{ background-position: -255px -320px;}
.role-parents:hover, .role-parents:focus{background-position: -501px -320px;}

.role-teacher-active{ background-position: -9px -320px;}
.role-student-active{ background-position: -255px -320px;}
.role-parents-active{ background-position: -501px -320px;}

/*小图角色 */
.role-sm{
	  width: 122px;
	  height: 157px;
	  display: inline-block;
	  zoom: 1;
	  *display: inline;
	  vertical-align: middle;
	  background-image: url(../img/smUserBg.png);
}
.sm-role{ padding-top: 5px;}
.role-left{ /*border-right: #eee solid 1px;*/ margin-right: 50px; }
.role-teacher-sm{ background-position: -1px -163px;}
.role-student-sm{ background-position: -123px -163px;}
.role-parents-sm{ background-position: -245px -163px;}
.role-student-sm:hover, .role-student-sm:focus{ background-position: -124px 0px;}
.role-parents-sm:hover, .role-parents-sm:focus{ background-position: -246px 0px;}

.red-btn-all{ border: none; background:none;}
.red-btn-all .red-btn{ outline: none !important;}
.info-btn{ margin: 10px 0px 10px 50px; }
.info-btn .info-tips{ margin-left: 10px; color: #C0C0C0;}

/*.btn-plus{ margin-top:-2px;}*/
.btn-plus .fa{ color:#24c267 !important; font-size: 30px;}
.btn-plus a{ text-decoration: none; margin-right: 75px; display: block; }
.btn-plus a .fa-white{ color: #FFF !important;}

.role-right{ /*margin-left: 50px; */border-left: #eee solid 1px;}
.role-right .panel-body .warn_tips{padding: 10px; font-size: 14px; color: #f0ad4e;}
.role-right .panel-body .warn_tips i{  font-size: 20px;}
.role-right .red-waring, .login-info .red-waring{ border: none !important; background:none !important;}
.role-right .red-padding, .login-info .red-padding{ padding: 0px 22px;}
.role-right .re-input-minHeight, .login-info .re-input-minHeight{min-height: 66px; }

.role-right .re-input-icon, .login-info .re-input-icon{ border: none; background:none; }
.role-right .re-input-icon .re-icon-green, .login-info .re-input-icon .re-icon-green{ color: #24c267;}
.role-right .re-input, .login-info .re-input{ border-left: 0px; border-top: 0px; border-right: 0px; box-shadow: none; -webkit-box-shadow:none;}

/*.role-right .addIDBox{ border: #24c267 solid 1px;}*/
.role-right .addIDBox{ position: relative;}
.role-right .addIDBox .close{ outline: none; display: none; position: absolute; right: 5px; top: 0; z-index: 10;}
.role-right .addIDBox:hover .close{ display: block;}
.role-right .addIDBox{ border: #FFF solid 1px;}
.role-right .addIDBox:hover{ border: #24c267 solid 1px;}

/*注册警告提示*/
.warning-tips{ margin-right: 75px; font-size: 10px;}

.register-complete h3{ margin-bottom: 20px;}
.register-complete h3 span{ color: #24c267;}
.register-complete p{ font-size: 16px; padding: 10px;}

.san-login{ text-align: center;}
.san-login a, .san-login a:hover, .san-login a:visited{ color: #fff; line-height: 30px; padding: 2px 20px 2px 20px; margin-bottom: 10px;}
.san-login a span{ padding-left: 10px;}
 
.notice-tips{ line-height: 40px; color: #666;}
.notice-tips .login-a{  color: #24c267; text-decoration: none; text-align: right; }

/*屏幕缩小后的菜单指示*/
.catalog-menu .navbar-toggle .icon-bar{ background-color: #fff;}

/*首页*/
.top-left-menu{ /*padding: 0px !important;*/ font-size: 12px; background:none;}
.top-left-menu a{ color: #FFF; text-decoration: none;}

.top-right-menu li{ margin: 10px 0px 10px 0px;  border-right:#fff solid 1px;}
.top-right-menu li:last-child{ border: 0px;}
.top-right-menu li a{ padding: 0px 10px; font-size: 12px; outline: none;}
.top-right-menu li a:hover, .top-right-menu li a:visited{ background-color: #24c267 !important;}

.renavbg-gray .lingxinlogo{ background: none;}
.renavbg-gray .nav-resource li a{ outline: none; color: #bcbbbb;}
.renavbg-gray .nav-resource li a:hover, .renavbg-gray .nav-resource li a:visited{ background-color: #F1F1F1 !important;}


/*==============提示对话框==============*/
.dialog-tips{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	/*display: none;*/
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.dialog-backdrop{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: .5;
}

.dialog-info {
	position:absolute;
	left:50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -80px;
	/*margin: 30px auto;*/	
	width: 400px;
	overflow: hidden;
	/*height: 130px;*/
	/*position: relative;*/
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 10px solid rgba(0, 0, 0, .2);
	outline: 0;
}

.dialog-header{ padding: 5px 10px 25px 10px; }
.dialog-header .close{ cursor: hand; outline: none;}
.dialog-body{ position: relative; padding: 10px;}
.dialog-body .tips-info{ /*font-size: 14px; *//*line-height: 30px;*/}
.dialog-body .tips-info i{ font-size: 30px; vertical-align: middle; margin-right: 10px;}
.dialog-body .tips-info .error{ color: #d9534f; }
.dialog-body .tips-info .ok{ color: #5cb85c;}
.dialog-body .tips-info .warning{ color: #f0ad4e;}
.dialog-footer{ padding: 15px; text-align: right; border-top: 1px solid #e5e5e5;}

/*=======个人信息资料   （帐户绑定）=======*/

body.gateway-body-info{ background: url(../img/portal/info_bg.png) no-repeat 0px 65px #f6f6f6 !important;  }
body.gateway-body-info .btn{ display: inline-block;}
body .content-wrapper{ border: none; }
body .content-wrapper .panel-body{ min-height: 200px;}
body .info_wrapper{ padding-bottom: 100px;}
.content-wrapper .panel-body .form-content{ width: 500px; margin: auto;}
.content-wrapper .panel-body .form-content .submit-btn{  margin-top: 10px; text-align: center;}
.content-wrapper .panel-body .form-content .submit-btn button{ padding: 8px 20px;}

@media (min-width: 1200px) {
   body.gateway-body-info .container{
	width: 1000px;
  }  
}


@media (max-width: 768px) {
   body.gateway-body-info .container{
	width: 600px;
  }
}





/*========Moblie=======*/
.show{display:block}
.hide{display:none}

.down_green{ background-color: #aae6aa;}
.download_main{margin:0 auto; max-width: 640px; }
.download_main .arrow {width: 100%;}
.download_main .arrow img{position: relative; width:30%; left:68%;}
.download_main .arrow:after{content: ".";visibility: hidden;line-height: 0;height: 1;clear: both;display: block;}
.download_main .content_bottom{position: relative; top:-30px;}
.download_main .text {text-align: center;}
.download_main .text img{width: 100%;}
.download_main .phone {float:left;width:45%;padding:0 10px 0 10px;}
.download_main .phone img{width:100%;}
.download_main .download {float:left;width:45%;text-align: center;padding-top: 15%;}

.download_main .download img{width:50%;}
.download_main .download_button{ margin-top:20px; }
.download_main .download_button a{ outline: none !important;}
.download_main .download_button a:hover, .download_main .download_button a:visited{ color: white;}
.download_main .download_button .sign-md{ font-size: 25px;}
.download_main .sep{height: 10px !important;}

@media (max-width: 640px){
	.download_main .download_button .sign-md{ font-size: 16px;}
	.download_button .btn{ font-size:12px !important;}
}







